/* ----- Basic settings ------ */

body {
    background: AliceBlue;
    color: Black;
    font-family: Serif, Sans-serif, Monospace;
}


/* Positions */

.left {
    float: left;
    width: 300px;
    background-color: SkyBlue;
    text-shadow:4px 8px 8px SlateGray;
}

.right {
    float: right;
    width: 300px;
    background-color: SkyBlue;
    text-shadow:4px 8px 8px SlateGray;
}

.center {
    margin: auto;
    float: center;
    width: 45%;
    border: 1px;
    padding: 10px;
    background-color: SkyBlue;
    text-shadow:4px 8px 8px SlateGray;
}

/* Layout styles */

.container {
    width: 100%;
    border: 1px solid SkyBlue;
}

.header-style {
    text-align: center;
    text-shadow:4px 8px 8px SlateGray;
    margin: auto;
    float: center;
    border: 1px;
    padding: 1em;
    background-color: SkyBlue;
    text-shadow:4px 8px 8px SlateGray;
}

.nav-style {
    float: left;
    max-width: 300px;
    margin: auto;
    padding: 1em;
    background-color: SkyBlue;
    text-shadow: 4px 8px 8px SlateGray;
    text-align: center;
}

.article-style {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    background-color: WhiteSmoke;
}
/* Command buttons, forms, tables */

.command-link-style {
    color: Black;
}

.submit-button1 {
    background-color: WhiteSmoke;
    color: black;
    width: 120px;
    border: 1px solid WhiteSmoke;
    text-shadow:4px 8px 8px SlateGray;
}

.output-table {
    border: 1px solid WhiteSmoke;
    border-collapse: collapse;
    text-align: left;
    text-shadow:4px 8px 8px SlateGray;
}

.tab-center-align {
    text-align: center;
}

.tab-left-align {
    text-align: left;
}

